<ion-view view-title="Battery">
  <ion-content>
    <div class="card">
      <div class="item item-divider">
          Battery status!
      </div>
      <div class="item item-text-wrap">
          <ul class="list">
              <li class="item">
                  Battery level: {{batteryLevel}} %
              </li>
              <li class="item">
                  Plugged In: {{isPluggedIn}}
              </li>
          </ul>
      </div>
      <div class="item item-divider text-right">
          from <code>ngCordova</code>
      </div>
    </div>
  </ion-content>
</ion-view>
